<% if object.errors.any? %>
<div id="error_info">
	<div class="default badge">
		El formulario contiene <%= pluralize(object.errors.count, "error") %>.
	</div>
	<ul>
		<% object.errors.full_messages.each do |msg| %>
		<li class="danger alert">* <%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>