<% if @user.errors.any? %>
<div id="error_info">
	<div class="default badge">
		The form contains <%= pluralize(@user.errors.count, "error") %>.
	</div>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li class="danger alert">* <%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>