<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

	<h2>Gracias por tu pedido a "El Buen Gusto"</h2>

	<p>Hemos recibido tu pedido, y en breve comenzaremos su preparación. Recibirás un correo de aviso cuando todo esté listo para que pases a recogerlo por nuestra tienda</p>

	<h3>Detalles de tu pedido</h3>
	<table>
		<%= render @order.cart_items %>
	</table>

	<p>Puedes mostrar este código en nuestra tienda para agilizar la recogida de tu pedido</p>
	<%= image_tag attachments['mi-pedido.png'].url %>
</body>
</html>