<footer class="footer">
	<small>
		<a href="http:www//luispedraza.es/">Desarrollo: Luis Pedraza</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca de",   '#' %></li>
			<li><%= link_to "Contacto", '#' %></li>
		</ul>
	</nav>
</footer>