<div class="wrapper shaded">
	<footer class="row">
		<div class="eight columns">
		<ul class="socbtns">
			<li class="btn facebook"><a href="https://www.facebook.com/pages/Pastelería-El-Buen-Gusto/173186872703628">Facebook</a></li>
		</ul>
		</div>
	</footer>
</div>